<section class="confirm-email">
    <div class="container">
        <div class="row text-center">
            <img src="http://www.concretereading.co.uk/images/tick.svg" class="img-tick" alt="CompanyLogo" />
            <h2>Volunteers - Ready to help</h2>
            <hr />
            <h3 class="text-capitalize">Thank you for sign up!</h3>
            
            <p>
                @if (Session["RoleType"] == "Individual")
                {
                    <h4>Before activate to your account, we need to confirm your email address.Please check your email.</h4>
                }
                else
                {
                    <h4>Our admin will verify your Organization status and we will send you an confirmation mail shortly.</h4>
                }
            </p>
            
        </div>
    </div>
    
    
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $(".navbar").css("background", "#4c726f");
        });
    </script>
}