
<section class="forgot-password-Confirm">
    <div class="container text-center">
        <div class="row">
            <h4 class="text-danger">Please check your email to reset your password.</h4>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $(".navbar").css("background", "#4c726f");
        });
    </script>
}
