<section class="container allactivities">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-2">
            <div class="searchbox">
                <h3>NARROW YOUR SEARCH</h3>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="category">
                <ul class="nav">
                    <li><a href="#"><i class="fa fa-envira" aria-hidden="true"></i><b>Category#1</b></a></li>
                    <li><a href="#"><i class="fa fa-envira" aria-hidden="true"></i><b>Category#1</b></a></li>
                    <li><a href="#"><i class="fa fa-envira" aria-hidden="true"></i><b>Category#1</b></a></li>
                    <li><a href="#"><i class="fa fa-envira" aria-hidden="true"></i><b>Category#1</b></a></li>
                    <li><a href="#"><i class="fa fa-envira" aria-hidden="true"></i><b>Category#1</b></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <h4>We have found <b>12493</b> volunteer opportunities</h4>
            <div class="event-information">
                <a href="activitydetails.html">
                    <div class="events">
                        <div class="col-sm-3">
                            <img src="http://placeskull.com/100/100/307d7e" class="img-responsive" alt="Alternate Text" />
                        </div>
                        <div class="col-sm-9">
                            <h4>Grace Hospice Looking for Pet Therapy Volunteers</h4>
                            <p class="event-details">Sausage cow pastrami, turkey spare ribs venison swine capicola kielbasa brisket frankfurter. Landjaeger porchetta...</p>
                            <div class="col-md-6 event-location">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Dayton, Huber Heights, Troy, Springfield, Piqua
                                Dayton, OH45439
                            </div>
                            <div class="col-md-6 event-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                10/12/2016
                            </div>
                        </div>
                    </div>
                </a>
                <div class="col-sm-12">
                    <a href="#" class="btn btn-primary btn-block active" role="button">I am interested</a>
                </div>
            </div>

            <div class="event-information">
                <a href="activitydetails.html">
                    <div class="events">
                        <div class="col-sm-3">
                            <img src="http://placeskull.com/100/100/307d7e" class="img-responsive" alt="Alternate Text" />
                        </div>
                        <div class="col-sm-9">
                            <h4>Grace Hospice Looking for Pet Therapy Volunteers</h4>
                            <p class="event-details">Sausage cow pastrami, turkey spare ribs venison swine capicola kielbasa brisket frankfurter. Landjaeger porchetta...</p>
                            <div class="col-md-6 event-location">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Dayton, Huber Heights, Troy, Springfield, Piqua
                                Dayton, OH45439
                            </div>
                            <div class="col-md-6 event-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                10/12/2016
                            </div>

                        </div>

                    </div>
                </a>
                <div class="col-sm-12">
                    <a href="#" class="btn btn-primary btn-block active" role="button">I am interested</a>
                </div>
            </div>
            <div class="event-information">
                <a href="activitydetails.html">
                    <div class="events">
                        <div class="col-sm-3">
                            <img src="http://placeskull.com/100/100/307d7e" class="img-responsive" alt="Alternate Text" />
                        </div>
                        <div class="col-sm-9">
                            <h4>Grace Hospice Looking for Pet Therapy Volunteers</h4>
                            <p class="event-details">Sausage cow pastrami, turkey spare ribs venison swine capicola kielbasa brisket frankfurter. Landjaeger porchetta...</p>
                            <div class="col-md-6 event-location">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Dayton, Huber Heights, Troy, Springfield, Piqua
                                Dayton, OH45439
                            </div>
                            <div class="col-md-6 event-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                10/12/2016
                            </div>

                        </div>

                    </div>
                </a>
                <div class="col-sm-12">
                    <a href="#" class="btn btn-primary btn-block active" role="button">I am interested</a>
                </div>
            </div>
            <div class="event-information">
                <a href="activitydetails.html">
                    <div class="events">
                        <div class="col-sm-3">
                            <img src="http://placeskull.com/100/100/307d7e" class="img-responsive" alt="Alternate Text" />
                        </div>
                        <div class="col-sm-9">
                            <h4>Grace Hospice Looking for Pet Therapy Volunteers</h4>
                            <p class="event-details">Sausage cow pastrami, turkey spare ribs venison swine capicola kielbasa brisket frankfurter. Landjaeger porchetta...</p>
                            <div class="col-md-6 event-location">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Dayton, Huber Heights, Troy, Springfield, Piqua
                                Dayton, OH45439
                            </div>
                            <div class="col-md-6 event-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                10/12/2016
                            </div>

                        </div>

                    </div>
                </a>
                <div class="col-sm-12">
                    <a href="#" class="btn btn-primary btn-block active" role="button">I am interested</a>
                </div>
            </div>
            <div class="event-information">
                <a href="activitydetails.html">
                    <div class="events">
                        <div class="col-sm-3">
                            <img src="http://placeskull.com/100/100/307d7e" class="img-responsive" alt="Alternate Text" />
                        </div>
                        <div class="col-sm-9">
                            <h4>Grace Hospice Looking for Pet Therapy Volunteers</h4>
                            <p class="event-details">Sausage cow pastrami, turkey spare ribs venison swine capicola kielbasa brisket frankfurter. Landjaeger porchetta...</p>
                            <div class="col-md-6 event-location">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Dayton, Huber Heights, Troy, Springfield, Piqua
                                Dayton, OH45439
                            </div>
                            <div class="col-md-6 event-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                10/12/2016
                            </div>

                        </div>

                    </div>
                </a>
                <div class="col-sm-12">
                    <a href="#" class="btn btn-primary btn-block active" role="button">I am interested</a>
                </div>
            </div>
            <div class="event-information">
                <a href="activitydetails.html">
                    <div class="events">
                        <div class="col-sm-3">
                            <img src="http://placeskull.com/100/100/307d7e" class="img-responsive" alt="Alternate Text" />
                        </div>
                        <div class="col-sm-9">
                            <h4>Grace Hospice Looking for Pet Therapy Volunteers</h4>
                            <p class="event-details">Sausage cow pastrami, turkey spare ribs venison swine capicola kielbasa brisket frankfurter. Landjaeger porchetta...</p>
                            <div class="col-md-6 event-location">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Dayton, Huber Heights, Troy, Springfield, Piqua
                                Dayton, OH45439
                            </div>
                            <div class="col-md-6 event-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                10/12/2016
                            </div>

                        </div>

                    </div>
                </a>
                <div class="col-sm-12">
                    <a href="#" class="btn btn-primary btn-block active" role="button">I am interested</a>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".navbar").css("background-color", "#4c726f");
        });
    </script>
}