<div class="carousel fade" data-ride="carousel" id="featured">
    <ol class="carousel-indicators"></ol>

    <div class="carousel-inner full-screen">
        <div class="item active"><img src="~/images/carousel-lifestyle.jpg" alt="Lifestyle Photo"></div>
        <div class="item"><img src="~/images/carousel-mission.jpg" alt="Mission"></div>
        <div class="item"><img src="~/images/carousel-lifestyle.jpg" alt="Vaccinations"></div>
        <div class="item"><img src="~/images/carousel-mission.jpg" alt="Fish"></div>

    </div><!-- carousel-inner -->
    <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#featured" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div><!-- featured carousel -->

<section class="newsletter text-center container text-center">
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
        </div>
        <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Subscribe</button>
    </form>
</section>
<section class="container mission">
    <h2 class="text-center">Our Mission</h2>
    <hr />
    <div class="text-center">
        <div class="col-md-4 col-sm-4 circle">
            <img src="~/images/testimonial-janeh.jpg" class="img-responsive img-thumbnail img-mission" alt="Alternate Text" />
            <p class="mission-details">Bacon ipsum dolor amet biltong ham hock meatloaf chuck porchetta t-bone, spare ribs salami capicola bacon meatball pancetta ribeye.Turkey salami t-bone boudin shank swine capicola bacon leberkas pork chop. Cupim shank meatball turkey spare ribs strip steak ground round fatback. Fatback tri-tip biltong venison short loin t-bone ball tip prosciutto frankfurter</p>
        </div>
        <div class="col-md-4 col-sm-4 circle">
            <img src="~/images/testimonial-janeh.jpg" class="img-responsive img-thumbnail img-mission circle2" alt="Alternate Text" />
            <p class="mission-details">Bacon ipsum dolor amet biltong ham hock meatloaf chuck porchetta t-bone, spare ribs salami capicola bacon meatball pancetta ribeye.Turkey salami t-bone boudin shank swine capicola bacon leberkas pork chop. Cupim shank meatball turkey spare ribs strip steak ground round fatback. Fatback tri-tip biltong venison short loin t-bone ball tip prosciutto frankfurter</p>
        </div>
        <div class="col-md-4 col-sm-4 circle">
            <img src="~/images/testimonial-janeh.jpg" class="img-responsive img-thumbnail img-mission circle3" alt="Alternate Text" />
            <p class="mission-details">Bacon ipsum dolor amet biltong ham hock meatloaf chuck porchetta t-bone, spare ribs salami capicola bacon meatball pancetta ribeye.Turkey salami t-bone boudin shank swine capicola bacon leberkas pork chop. Cupim shank meatball turkey spare ribs strip steak ground round fatback. Fatback tri-tip biltong venison short loin t-bone ball tip prosciutto frankfurter</p>
        </div>
    </div>
</section>
<section class="events container text-center recent-events">
    <h2>Recent Events</h2>
    <hr />
    <div class="row">
        <div class="col-md-8 table-responsive">
            <table class="table table-hover">
                <tr>
                    <td><img src="~/images/testimonial-mcphersons.jpg" style="height:50px;width:50px;  " /></td>
                    <td><h3><a href="#">Tree Planation</a></h3></td>
                    <td><i class="fa fa-calendar" aria-hidden="true"></i><h6>12/10/11</h6></td>
                    <td><button type="button" class="btn btn-info">Join</button></td>
                </tr>
                <tr>
                    <td><img src="~/images/testimonial-mcphersons.jpg" style="height:50px;width:50px;  " /></td>
                    <td><h3><a href="#">Tree Planation</a></h3></td>
                    <td><i class="fa fa-calendar" aria-hidden="true"></i><h6>12/10/11</h6></td>
                    <td><button type="button" class="btn btn-info">Join</button></td>
                </tr>
                <tr>
                    <td><img src="~/images/testimonial-mcphersons.jpg" style="height:50px;width:50px;  " /></td>
                    <td><h3><a href="#">Tree Planation</a></h3></td>
                    <td><i class="fa fa-calendar" aria-hidden="true"></i><h6>12/10/11</h6></td>
                    <td><button type="button" class="btn btn-info">Join</button></td>
                </tr>
                <tr>
                    <td><img src="~/images/testimonial-mcphersons.jpg" style="height:50px;width:50px;  " /></td>
                    <td><h3><a href="#">Tree Planation</a></h3></td>
                    <td><i class="fa fa-calendar" aria-hidden="true"></i><h6>12/10/11</h6></td>
                    <td><button type="button" class="btn btn-info">Join</button></td>
                </tr>
                <tr>
                    <td><img src="~/images/testimonial-mcphersons.jpg" style="height:50px;width:50px;  " /></td>
                    <td><h3><a href="#">Tree Planation</a></h3></td>
                    <td><i class="fa fa-calendar" aria-hidden="true"></i><h6>12/10/11</h6></td>
                    <td><button type="button" class="btn btn-info">Join</button></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="view-more-events container">
        <h5><i class="fa fa-refresh"></i><a href="allactivity.html">View More Jobs  </a></h5>
    </div>
    <div class="col-md-6 col-xs-3">
        <p><h2><b>12001</b></h2> <span>Events</span></p>
    </div>
    <div class="col-md-6 col-xs-3">
        <p>Total Volunteers:<span style="padding-left:5px"><h2><b>160900</b></h2></span></p>
    </div>
</section>
<!--<section class="total-event text-center">

    <div class="col-md-6 col-xs-3">
        <p><h2><b>12001<span></h2> <span>Events</span></p>
    </div>
    <div class="col-md-6 col-xs-3">
        <p>Total Volunteers:<span style="padding-left:5px"><b><h2>160900</h2></b></span></p>
    </div>

</section>-->


<section class="our-work container filterable-services">
    <h2 class="text-center">Our Work</h2>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills work-filter">
                <li class="filerby">Filter by:</li>
                <li role="presentation" class="active"><a href="#" data-filter="*">All</a></li>
                <li role="presentation"><a href="#" data-filter=".treeplantation">Tree Plantation</a></li>
                <li role="presentation"><a href="#" data-filter=".blooddonation">Blood Donation</a></li>
                <li role="presentation"><a href="#" data-filter=".petcare">Pet Care</a></li>
                <li role="presentation"><a href="#" data-filter=".fundraising">Fund Raising</a></li>
                <li role="presentation"><a href="#" data-filter=".cleaning">Cleaning</a></li>
                <li role="presentation"><a href="#" data-filter=".awarness">Awarness</a></li>
            </ul>
        </div>
    </div>
    <div class="row work-items">
        <figure class="work-item col-sm-3 treeplantation">
            <a href="#">
                <img src="http://placeskull.com/700/400/466417" class="img-responsive">
            </a>
        </figure>
        <figure class="work-item col-sm-3 blooddonation">
            <a href="#">
                <img src="http://placeskull.com/700/400/307d7e" class="img-responsive">
            </a>
        </figure>
        <figure class="work-item col-sm-3">
            <a href="#">
                <img src="http://placeskull.com/700/400/2554c7" class="img-responsive">
            </a>
        </figure>
        <figure class="work-item col-sm-3 petcare">
            <a href="#">
                <img src="http://placeskull.com/700/400/8d36c9" class="img-responsive">
            </a>
        </figure>
        <figure class="work-item col-sm-3 fundraising">
            <a href="#">
                <img src="http://placeskull.com/700/400/e4317f" class="img-responsive">
            </a>
        </figure>
        <figure class="work-item col-sm-3 awarness">
            <a href="#">
                <img src="http://placeskull.com/700/400/ff0000" class="img-responsive">
            </a>
        </figure>
        <figure class="work-item col-sm-3 treeplantation">
            <a href="#">
                <img src="http://placeskull.com/700/400/fdd017" class="img-responsive">
            </a>
        </figure>
        <figure class="work-item col-sm-3 cleaning">
            <a href="#">
                <img src="http://placeskull.com/700/400/" class="img-responsive">
            </a>
        </figure>
    </div>
</section>

<section class="testimonial" id="testimonial">
    <h2 class="text-center">Testimonial</h2>
    <hr />
    <h3 class="text-center">WHAT PEOPLES ARE SAYING</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="testimonial-slider" class=" slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonial-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonial-slider" data-slide-to="1"></li>
                        <li data-target="#testimonial-slider" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="http://placeskull.com/200/200" class="img-circle" alt="image">
                            <div class="carousel-caption">
                                <p class="user-testimonial">Turkey salami t-bone boudin shank swine capicola bacon leberkas pork chop. Cupim shank meatball turkey spare ribs strip steak ground round fatback. Fatback tri-tip biltong venison short loin t-bone ball tip prosciutto frankfurterTurkey salami t-bone boudin shank swine capicola bacon leberkas pork chop. Cupim shank meatball turkey spare ribs strip steak ground round fatback. Fatback tri-tip biltong venison short loin t-bone ball tip prosciutto frankfurter</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="http://placeskull.com/200/200/307d7e" class="img-circle" alt="image">
                            <div class="carousel-caption">
                                <p class="user-testimonial">Turkey salami t-bone boudin shank swine capicola bacon leberkas pork chop. Cupim shank meatball turkey spare ribs strip steak ground round fatback. Fatback tri-tip biltong venison short loin t-bone ball tip prosciutto frankfurterTurkey salami t-bone boudin shank swine capicola bacon leberkas pork chop. Cupim shank meatball turkey spare ribs strip steak ground round fatback. Fatback tri-tip biltong venison short loin t-bone ball tip prosciutto frankfurter</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="http://placeskull.com/200/200/466417" class="img-circle" alt="image">
                            <div class="carousel-caption">
                                <p class="user-testimonial">Turkey salami t-bone boudin shank swine capicola bacon leberkas pork chop. Cupim shank meatball turkey spare ribs strip steak ground round fatback. Fatback tri-tip biltong venison short loin t-bone ball tip prosciutto frankfurterTurkey salami t-bone boudin shank swine capicola bacon leberkas pork chop. Cupim shank meatball turkey spare ribs strip steak ground round fatback. Fatback tri-tip biltong venison short loin t-bone ball tip prosciutto frankfurter</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
 
<script type="text/javascript">
    $(function () {
        var mission = $('.mission .img-mission');
        mission.css('opacity', 0);
        mission.waypoint(function () {
            mission.addClass('animated fadeInUp');
        }, { offset: '50%' });
  
    });
</script>
 }