<section class="mission text-center" id="mission">
    <div class="container">
        <h2 class="text-center">Our Mission</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="row text-center">
            <div class="col-md-4 col-sm-4 col-lg-4" id="missiontarget">
                <h3>Mission Title #1</h3>
                <hr>
                <p class="animated fadeInLeft">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#">
                    <div class="missionmoreone">
                        <h1>LOVE</h1>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4" id="missiontarget">
                <h3>Mission Title #2</h3>
                <hr>
                <p class="animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#">
                    <div class="missionmoretwo">
                        <h1>CARE</h1>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4" id="missiontarget">
                <h3>Mission Title #3</h3>
                <hr>
                <p class="animated fadeInRight">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#">
                    <div class="missionmorethree">
                        <h1>HELP</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".navbar").css("background-color", "#4c726f");
        });
    </script>
}