<section class="container service">
    <div class="row">
        <div class="col-sm-6 service-image" id="service1"></div>
        <div class="col-sm-6">
            <p>
                Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick.Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <p>
                Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick.Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick
            </p>
        </div>
        <div class="col-sm-6 service-image" id="service2"></div>
    </div>
    <div class="row">
        <div class="col-sm-6 service-image" id="service3"> </div>
        <div class="col-sm-6">
            <p>
                Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick.Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <p>
                Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick.Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick
            </p>
        </div>
        <div class="col-sm-6 service-image" id="service4"></div>
    </div>
    <div class="row">
        <div class="col-sm-6 service-image" id="service1"></div>
        <div class="col-sm-6">
            <p>
                Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick.Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <p>
                Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick.Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick
            </p>
        </div>
        <div class="col-sm-6 service-image" id="service2"></div>
    </div>
    <div class="row">
        <div class="col-sm-6 service-image" id="service3"> </div>
        <div class="col-sm-6">
            <p>
                Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick.Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <p>
                Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick.Boudin kevin t-bone short ribs biltong sausage pork belly corned beef kielbasa. Hamburger alcatra flank, meatball bresaola beef leberkas t-bone. Boudin turducken jerky andouille flank turkey biltong prosciutto drumstick shoulder rump shankle. Ball tip pork loin pastrami, shankle turducken brisket t-bone pancetta pork chop fatback rump jowl landjaeger filet mignon. Ham hock ribeye sausage drumstick
            </p>
        </div>
        <div class="col-sm-6 service-image" id="service4"></div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".navbar").css("background-color", "#4c726f");
        });
    </script>
}